.skills__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills{
  background-color: hwb(0 94% 4%);
}

.skills_title{
  color: #0c286a;
  font-size: 3rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(73, 44, 236, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  animation: fadeIn 5s ease-in-out; /* Apply the animation */
}

.skills__title {
  font-size: 20px;
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
  position: relative; /* Add position relative to the parent */
  color: #0c286a;
}

.skills__title::before {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely within the .skills__title */
  top: 50%; /* Move it to the vertical center */
  left: 50%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Adjust to center it perfectly */
  background-color: var(--container-color); /* Set the background color */
  border-radius: 50%; /* Create a circular shape */
  padding: 0.5rem; /* Adjust the padding for the circle */
  z-index: -1; /* Move it behind the text */
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level {
  font-size: var(--tiny-font-size);
}
.circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the size of the circle */
  height: 40px; /* Adjust the size of the circle */
  background-color: var(--container-color); /* Set the background color */
  border-radius: 50%; /* Create a circular shape */
  font-size: 1.4rem; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight if needed */
  color: #0c286a; /* Set the text color */
  border: 3px solid #f49529; /* Add a border if desired */
}

@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}
